body {
	background-color: #E5E5E5;
	display: flex;
	justify-content: center;
}

li {
	list-style-type: none;
}

.container {
	font-family: sans-serif;
	background-color: white;
	width: 680px;
	height: 408px;
	border-radius: 34px;
	padding-top: 34px;
	padding-bottom: 34px;
}

.icon-heart-empty {
	font-size: 27px;
	color: white;
}

.icon-star {
	color: orange;
}

button {
	position: absolute;
	border: none;
	width: 55px;
	height: 55px;
	top: 12px;
	right: 12px;
	background-color: #D9D9D9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container-img {
	position: relative;
	background-color: #EBEBEB;
	width: 300px;
	height: 260px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-t-shirt {
	width: 250px;
	height: 250px;
}

.list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	padding: 0;
	font-size: 20px;
}

.icon-star:before {
	margin: 0 !important;
}

h2 {
	font-size: 29px;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.rating {
	margin-right: 10px;
}

.views {
	color: gray;
}

.price {
	font-size: 35px;
	font-weight: bold;
	margin-top: 15px;
}

.catalog {
	display: flex;
	gap: 15px;
}